<%- include('partials/user-navbar'); %>
<div class="container full-height">
  <div class="row">
    <div class="d-flex p-2 justify-content-center col-sm-12">
      <div class="col-lg-6 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body signup-card">
          <div class="form-header text-center">
            Login
          </div>
          <form method="post" action="/login">
            <div class="row form-group">
              <div class="col-md-12">
                <label for="email-input" class="text-black">Email</label>
                <input id="email-input" class="form-control rounded-0" name="email" type="email" required autofocus></input>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="password-input" class="text-black">Password</label>
                <input id="password-input" class="form-control rounded-0" name="password" type="password" required></input>
                <div class="float-right form-smalltext">
                  Forgot
                  <a href="/users/edit">Username/Password?</a>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary custom-btn">Login</button>
            <div class="row text-line">
              <div class="col-5">
                <hr>
              </div>
              <div class="col-2 text-center text">or</div>
              <div class="col-5">
                <hr>
              </div>
            </div>
          </form>
          <button type="button" class="btn btn-block btn-google custom-btn"><img class="google-icon" src="https://cdn.freebiesupply.com/logos/large/2x/google-icon-logo-black-and-white.png">Login with Google</button>
          <div class="text-center form-smalltext form-bottomtext">
            Don't have an account?
            <a href="/users/new">Sign Up</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
