<%- include('partials/user-navbar'); %>
<div class="container full-height">
  <div class="row">
    <div class="d-flex p-2 justify-content-center col-md-12">
      <div class="col-lg-6 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body signup-card">
          <div class="form-header text-center">
            Create an account with <span style="color: #4285f4">myze</span>
          </div>
          <form method="post" action="/register">
            <div class="row form-group">
              <div class="col-md-12">
                <label for="email-input" class="text-black">Email</label>
                <input id="email-input" class="form-control rounded-0" name="email" type="email" required autofocus></input>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="password-input" class="text-black">Password</label>
                <input id="password-input" class="form-control rounded-0" name="password" type="password" required></input>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="password2-input" class="text-black">Confirm Password</label>
                <input id="password2-input" class="form-control rounded-0" name="password2" type="password" required></input>
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary custom-btn">Create Account</button>
            <div class="row text-line">
              <div class="col-5">
                <hr>
              </div>
              <div class="col-2 text-center text">or</div>
              <div class="col-5">
                <hr>
              </div>
            </div>
            <button type="button" class="btn btn-block btn-google custom-btn"><img class="google-icon" src="https://cdn.freebiesupply.com/logos/large/2x/google-icon-logo-black-and-white.png">Sign up with Google</button>
            <div id="signup-terms" class="text-center form-smalltext">
              By creating an account, you agree to<br>
              <a href="#" target="_blank">Terms &amp; Conditions</a> and <a href="#" target="_blank">Privacy Policy</a>
            </div>
            <div class="text-center form-smalltext">
              Already have an account?
              <a href="/login">Log In</a>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
