<div class="container">
  <div class="row">
    <div class="d-flex p-2 justify-content-center col-md-12">
      <div class="col-lg-6 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Register</h4>
        </div>
        <div class="card-body">
        Test
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
