* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

#root {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.sectionTitle {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.responsiveContainer {
  width: 1200px;
}

@media only screen and (max-width: 1400px) {
  .responsiveContainer {
    width: 1000px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .responsiveContainer {
    width: 800px !important;
  }
}

//mobile
@media only screen and (max-width: 900px) {
  .responsiveContainer {
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100vw - 4rem) !important;
  }
}

.navbarTop {
  background-color: white;
  box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.2);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}


// hide the focus indicator if element receives focus via mouse, but show on keyboard focus (on tab).
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// Define a strong focus indicator for keyboard focus.
// If you skip this then the browser's default focus indicator will display instead
// ideally use outline property for those users using windows high contrast mode
.js-focus-visible .focus-visible {
  outline: magenta auto 5px;
}