@import "../../../styles/constants";
@import "../../../styles/gamut";

.coverPage {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: $sectionpadding;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      width: fit-content;
    }
    .standardButton {
      margin-top: 2rem;
    }
    div {
      display: inline-block;
      font-weight: bolder;
      color: $mdgray;
      .bigData {
        color: $mturquoise;
      }
      span {
        font-size: 2rem;
      }
    }
    h1 {
      color: $mdgray;
    }
  }
}

@media only screen and (max-width: 900px) {
  .coverPage {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
