@import '../../styles/constants';
@import '../../styles/gamut';

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: padding .25s;
  .navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.scrolled {
  background-color: black;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.myzeLogo {
  width: 40px;
  display: inline-block;
}

.logoText {
  font-size: 1.75rem;
  display: inline-block;
  margin-left: 1rem;
  color: $morange;
}

.navbarList {
  display: flex;
  align-items: center;
  a {
    margin-left: 2rem;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
  }
  a:not(:last-child) {
    color: $mdgray;
    font-size: 1.25rem;
  }
  a:last-child {
    padding: 8px 30px 8px 30px;
    color: $morange;
    border: solid 1px $morange;
    border-radius: 4px;
  }
}

@media screen and (max-width: 700px) {
  .navbarList {
    display: none;
  }
}
