@import '../../styles/constants';
@import '../../styles/gamut';

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: padding .25s;
  .navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.scrolled {
  background-color: black;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myzeLogo {
  width: 50px;
}

.navbarList {
  display: flex;
  align-items: center;
  button {
    margin-left: 2rem;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    border-style: none;
    background-color: transparent;
  }
  button:not(:last-child) {
    color: $mdgray;
    font-size: 1.25rem;
  }
  button:last-child {
    padding: 8px 30px 8px 30px;
    color: $morange;
    border: solid 1px $morange;
    border-radius: 4px;
  }
}

@media screen and (max-width: 700px) {
  .navbarList {
    display: none;
  }
}
