@import "../../styles/constants";
@import "../../styles/gamut";

.responsiveContainer {
    width: 1200px;
}

@media only screen and (max-width: 1400px) {
    .responsiveContainer {
        width: 1000px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .responsiveContainer {
        width: 800px !important;
    }
}

//mobile
@media only screen and (max-width: 900px) {
    .responsiveContainer {
        width: 100vw !important;
    }
}

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myzeLogo {
    width: 57px;
}

.logoText {
    text-align: center;
    font-weight: 700;
    color: $morange;
}

.navbarList {
    display: flex;
    align-items: center;
    div {
        margin-left: 2rem;
        cursor: pointer;
        font-weight: 700;
        display: inline-block;
    }
    div:not(:last-child) {
        color: $mdgray;
        font-size: 1.25rem;

    }
    div:last-child {
        padding: 8px 30px 8px 30px;
        color: $morange;
        border: solid 1px $morange;
        border-radius: 4px;
    }
}
