@import '../../../styles/constants';
@import '../../../styles/gamut';

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: padding .25s;
  .navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media only screen and (max-width: 900px) {
      .navbar {
        justify-content: center;
      }
  }
}

.scrolled {
  background-color: black;
}

.logoContainer {
  display: flex;
  align-items: center;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.myzeLogo {
  width: 40px;
  display: inline-block;
}

.logoText {
  font-size: 1.75rem;
  display: inline-block;
  margin-left: 1rem;
  color: $morange;
}

.navbarList {
  display: flex;
  align-items: center;
  button, .loginButton {
    margin-left: 2rem;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    border-style: none;
    background-color: transparent;
  }
  button:not(.loginButton) {
      padding-top: .5rem;
      padding-bottom: .5rem;
  }
  button {
    font-size: 1rem;
    transition: color .25s;
  }
  button:hover {
    color: $morange;
    transition: color .25s;
  }
  .active {
    color: $morange;
  }
  .inactive {
    color: black;
  }
  .loginButton {
    padding: 8px 30px 8px 30px;
    color: $morange;
    border: solid 1px $morange;
    border-radius: 4px;
    text-decoration: none;
  }
}

@media screen and (max-width: 700px) {
  .navbarList {
    display: none;
  }
  .nav {
    position: absolute;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
