@import "../../styles/constants";
@import "../../styles/gamut";

.coverPage {
  display: flex;
  height: 100vh;
  width: 100vw - 2 * $sidemargin;
  margin: 0 auto;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      width: fit-content;
    }
    .standardButton {
      margin-top: 1rem;
    }
    h1 {
      color: $mdgray;
      span {
        color: $mturquoise;
      }
    }
  }
}